# 1. 파이썬 가상환경 폴더 (용량이 너무 커서 올리면 안 돼요!)
venv/
env/
myenv/

# 2. 파이썬이 실행되면서 자동 생성하는 찌꺼기(캐시) 파일들
__pycache__/
*.py[cod]
*$py.class

# 3. 환경변수 파일 (여기에 API 키를 넣어두기 때문에 절대 올리면 안 됨! 🚨)
.env
.flaskenv

# 4. 맥(Mac) OS 사용자라면 자동으로 생기는 시스템 숨김 파일
.DS_Store